html {
	background-image: url("images/bg3.jpg");
	width: 100%;
}
body {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 100%;
	min-height: 416px;
}
header{
	text-align: center;
	margin: 0px;
	border-top: 4px rgba(47, 126, 178, 1.0) solid;
	border-bottom: 1px rgba(47, 126, 178, 1.0) solid;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	box-shadow: inset 0px -1px 8px rgba(199,199,199,0.5);
	padding: 0px 0px 12px 0px;
	height: 48px;
	width: 100%;
}
#searchbar {
	text-align: center;
	margin: 0px;
	border-bottom: 1px rgba(47, 126, 178, 1.0) solid;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	padding: 0px 0px 0px 0px;
	width: 100%;
}
#search {
	width: 95%;
	margin: 4px;
}
h1 {
	color: #f2f2f2;
	text-shadow: 0px -1.6px 1px rgba(0,0,0,0.5);
	padding: inherit;
}
h2 {
	color: white;
	text-align: center;
	padding: 16px;
	font-size: 16pt;
	font-weight: lighter;
	text-shadow: 0px 1px 4px black;
}
nav {
	color: rgba(47, 126, 178, 1.0);
	text-align: center;
	padding: 2px;
}
a#tagcar {
	font-size: 24pt;
	font-weight: bold;
	color: rgba(47, 126, 178, 1.0);
}
#tag {
	background: white;
	border-radius: 8px;
	border: 1px rgba(47, 126, 178, 1.0) solid;
	box-shadow: 0px 4px 0px 0px rgba(47, 126, 178, 1.0),
				0px 3px 6px black;
	text-align: center;
	margin: 8px;
}
a {
	color: rgba(47, 126, 178, 1.0);
	text-decoration: none;
}
footer{
	text-align: center;
	padding: 4px;
	margin-top: 8px;
}
legend {
	background: rgba(48, 127, 179, 1.0);
	font-weight: bold;
	color: white;
	padding: 4px 8px 4px 24px;
	text-align: inherit;
	margin: 0px 0px 0px -24px;
}
fieldset{
	width: 280px;
	margin: 12px auto 12px auto;
	border-style: none;
	background: rgba(109, 174, 218, 1.0);
}
input#make {
	display: block;
	width: 264px;
}
input#model {
	display: block;
	width: 264px;
}
input#year {
	display: block;
	width: 264px;
}
ul {
	list-style-type: none;
	padding: 0px 2px 0px 2px;
}
textarea {
	resize: none;
	width: 268px;
	height: 60px;
}
form {
	padding: 0px 0px 12px 0px;
}
input#submit {
	color: white;
	font-weight: bold;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	border: 1px solid rgba(47, 126, 178, 1.0);
	font-size: large;
	text-fill-color: #fff;
	display: block;
	text-align: center;
	margin: 0px auto 0px auto;
	width: 298px;
	height: 42px;
	border-radius: 0px;
}
#errors {
	color: red;
}
img {
	text-align: center;
	max-height: 50px;
	max-width: 284px;
}
#feature {
	background-image: url("images/Car1Motion.jpg");
	background-size: cover;
	margin: -17px auto 8px auto;
	width: 95%;
	padding-bottom: 4px;
	box-shadow: 0px 0px 4px black;
}
li {
	width: 100%;
	font-size: 18px;
	text-align: left;
	margin: 0px;
	padding: 4px 0px 4px 8px;
	height: 40px;
	border-top: 2px gray;
	border-bottom: 2px white;
	background: -webkit-linear-gradient(#ffffff 0%, #adadad 100%);
}




