html {
	background-image: url("images/bg3.jpg");
	width: 100%;
}
@font-face {
	font-family: modernpics;
	src: url('fonts/modernpics.otf');
}
body {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 100%;
	min-height: 416px;
}
header{
	text-align: center;
	margin: 0px;
	border-top: 4px rgba(47, 126, 178, 1.0) solid;
	border-bottom: 1px rgba(47, 126, 178, 1.0) solid;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	box-shadow: inset 0px -1px 8px rgba(199,199,199,0.5);
	padding: 0px 0px 12px 0px;
	height: 48px;
	width: 100%;
}
#searchbar {
	text-align: center;
	margin: 0px;
	border-bottom: 1px rgba(47, 126, 178, 1.0) solid;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	padding: 0px 0px 0px 0px;
	width: 100%;
}
h2 {
	color: white;
	text-align: center;
	padding: 16px;
	font-size: 16pt;
	font-weight: lighter;
	text-shadow: 0px 1px 4px black;
}
nav {
	color: rgba(47, 126, 178, 1.0);
	text-align: center;
	padding: 2px;
}
footer{
	text-align: center;
	padding: 4px;
	margin-top: 8px;
}
ul {
	list-style-type: none;
	padding: 0px;
}
#errors {
	color: red;
}
#feature {
	background-size: cover;
	margin: -17px auto 8px auto;
	width: 95%;
	padding-bottom: 4px;
	box-shadow: 0px 0px 4px black;
}





