html {
	background-image: url("images/bg3.jpg");
}
body {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 100%;
	min-height: 416px; 
}
#searchbar {
	text-align: center;
	margin: 0px;
	border-bottom: 1px rgba(47, 126, 178, 1.0) solid;
	background: -webkit-linear-gradient(rgba(98, 173, 217, 1.0) 0%, rgba(47, 126, 178, 1.0) 100%);
	padding: 0px 0px 0px 0px;
	width: 100%;
}
h1 {
	color: #f2f2f2;
	text-shadow: 0px -1.6px 1px rgba(0,0,0,0.5);
	padding: inherit;
}
h2 {
	color: white;
	text-align: center;
	padding: 16px;
	font-size: 16pt;
	font-weight: lighter;
	text-shadow: 0px 1px 4px black;
}
nav {
	color: rgba(47, 126, 178, 1.0);
	text-align: center;
	padding: 2px;
}
a#tagcar {
	font-size: 24pt;
	font-weight: bold;
	color: rgba(47, 126, 178, 1.0);
}
#tag {
	background: white;
	border-radius: 8px;
	border: 1px rgba(47, 126, 178, 1.0) solid;
	box-shadow: 0px 4px 0px 0px rgba(47, 126, 178, 1.0),
				0px 3px 6px black;
	text-align: center;
	margin: 8px;
}
a {
	color: rgba(47, 126, 178, 1.0);
	text-decoration: none;
}
footer{
	text-align: center;
	padding: 4px;
	margin-top: 8px;
}
li {
	margin: 2px auto 4px auto;
}
ul {
	list-style-type: none;
	padding: 0px 2px 0px 2px;
}
#errors {
	color: red;
}
img {
	text-align: center;
	max-height: 50px;
	max-width: 284px;
}





